<header class="sticky">
  <a routerLink="/"
     class="logo">
    <span class="icon-home"></span>
    <span>{{ title }}</span>
  </a>
  <a routerLink="heroes"
     routerLinkActive="router-link-active"
     class="button">
    <span> 2- Heroes</span>
  </a>
  <a routerLink="contacts"
     routerLinkActive="router-link-active"
     class="button">
    <span> 3 - Contacts</span>
  </a>
  <a routerLink="car"
     routerLinkActive="router-link-active"
     class="button">
    <span> 4 - Car</span>
  </a>
  <a routerLink="converter"
     routerLinkActive="router-link-active"
     class="button">
    <span> 5 - Converter</span>
  </a>
  <a routerLink="rates"
     routerLinkActive="router-link-active"
     class="button">
    <span> 6 - Rates</span>
  </a>
  <a routerLink="notifications"
     routerLinkActive="router-link-active"
     class="button">
    <span> 7 - Notifications</span>
  </a>
  <a routerLink="security"
     routerLinkActive="router-link-active"
     class="button"> 8 - Security</a>
  <a routerLink="projects"
     routerLinkActive="router-link-active"
     class="button">
    <span> Projects</span>
  </a>
  <a routerLink="about"
     routerLinkActive="router-link-active"
     class="button">
    <span> 2 - About us</span>
  </a>
</header>
