<h2>
  {{ header }}
</h2>
<p>{{ description | uppercase }}</p>
<p>You have
  <mark class="{{ counterClass }}">{{ numContacts }}</mark>
  contacts right now.
</p>
<input value="Show Form"
       class="primary"
       type="button"
       (click)="formHidden=false"/>
<input value="Hide Form"
       class="inverse"
       type="button"
       (click)="formHidden=true"/>
<form [ngClass]="{'hidden':formHidden}">
  <fieldset>
    <legend>Contact Form</legend>
    <section>
      <label for="name">Name</label>
      <input name="name"
             type="text"
             [(ngModel)]="contact.name"
             placeholder="Contact name"/>
    </section>
    <section>
      <label for="isVIP">Is V.I.P.</label>
      <input name="isVIP"
             type="checkbox"
             [(ngModel)]="contact.isVIP">
    </section>
    <section>
      <label for="gender">Gender</label>
      <input name="gender"
             value="male"
             type="radio"
             [(ngModel)]="contact.gender"> <span>Male</span>
      <input name="gender"
             value="female"
             type="radio"
             [(ngModel)]="contact.gender"> <span>Female</span>
    </section>
    <section>
      <label for="workStatus">Work Status</label>
      <select name="workStatus"
              [(ngModel)]="contact.workStatus"
              (change)="onWorkStatusChanged()">
        <option *ngFor="let status of workStatuses"
                [value]="status.id">
          <span>{{ status.description }}</span>
        </option>
      </select>
    </section>
    <section *ngIf="contact.workStatus.toString()==='3'; else education">
      <label for="companyName">Company Name</label>
      <input name="companyName"
             type="text"
             [(ngModel)]="contact.companyName"
             placeholder="Company name"/>
    </section>
    <ng-template #education>
      <section>
        <label for="education">Education</label>
        <input name="education"
               type="text"
               [(ngModel)]="contact.education"
               placeholder="Education"/>
      </section>
    </ng-template>
  </fieldset>
  <input value="Save"
         type="submit"
         (click)="saveContact()"/>
</form>
<pre>{{ contact | json }}</pre>
<ul *ngIf="contacts.length>0; else empty">
  <li *ngFor="let contact of contacts">
    <span>{{ contact.name }}</span>
    <input value="Delete"
           type="button"
           (click)="deleteContact(contact)">
  </li>
</ul>
<ng-template #empty>
  <i>No data yet</i>
</ng-template>
