<h2>Initial Links to start: </h2>
<ul>
  <li>
    <h2><a target="_blank"
           rel="noopener"
           href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank"
           rel="noopener"
           href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank"
           rel="noopener"
           href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
