<h3>
  This application is used as a reference for our courses
</h3>
<ul>
  <li>
    <h4><a target="_blank"
           rel="noopener"
           href="https://www.trainingit.es/curso-angular-basico/?promo=meetup10&af=abasalo">Online</a></h4>
  </li>
  <li>
    <h4><a target="_blank"
           rel="noopener"
           href="http://www.vitaedigital.com/proyectos-de-formacion">Presencial</a></h4>
  </li>
</ul>
